.navbar-brand img{
    width: 150px;
    margin: 20px 950px 20px 100px;
}
.nav-link{
    background-color: white;
}
a.nav-link{
    color:black;
    font-weight: 500;
}
.color-pink{
    background: #F91944;
    color: white !important;
    border-radius: 15px;
    font-weight: 400 !important;
    padding: 5px 15px 7px 15px;
}
