.navbar-brand img{
    width: 150px;
    height: auto;
}
.container {
    padding-top: 5px !important
}
.nav-item {
    padding: 2px
} 

.nav-link{
    background-color: white;
    font-weight: bold !important;
}
a.nav-link{
    color:black;
    
}
.color-pink{
    background: #F91944;
    color: white !important;
    border-radius: 15px;
    font-weight: 500 !important;
    padding: 0px 5px;
}
.btn-rounded{
    font-weight: 500;
} 