.navbar-brand img{
    width: 150px;
    margin: 10px 750px 10px 50px;
}
.nav-link{
    background-color: white;
    font-weight: bold !important;
}
a.nav-link{
    color:black;
    
}
.color-pink{
    background: #F91944;
    color: white !important;
    border-radius: 15px;
    font-weight: 500 !important;
    padding: 5px;
    margin-left: 15px;
}
.btn-rounded{
    font-weight: 500;
}