.footer{
    background-color: black;
    color: white;
    margin-top: 60px;
    min-height: 300px;
}
.col-md-6,.col-md-3{
    display: block;
    float: left;
    text-align: justify;
    padding: 30px 0px;
   
}
.col-md-6 img{
    width: 30%;
    float: left;
    padding-left: 50px;
}
.col-md-6 a{
    text-decoration: none;
    padding: 0 50px;
    color: white;
    font-weight: 600;
}