.search-btn-color{
    background: #F91944;
    color: white !important;
    border: none;
    border-radius: 15px;
    font-weight: 400 !important;
    padding: 7px 30px;
}
h1 {
  text-align: center;
}

.s01 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'arial';
    background: url("../../resources/bannerbackground.png");
    width: 100vw;
    height: 80vh;
    background-position: center center;
    background-size: 'cover';
    background-repeat: no-repeat;

}
.search-area{
    margin-top: 20px;
    width:100%;
    display: inline-block;
    justify-content: center;
  }
  
 #search{
   padding: 5px;
   border-radius: 15px;
   border: 1px solid gray;
 }
 .btn-danger{
   border-radius: 15px;
   margin-left: -78px;
   margin-top: -1px;
 }
 @media only screen and (max-width: 768px)  {
  #search{
    width: 80vw
  }
 }
 @media only screen and (min-width: 769px)  {
  #search{
    width: 60vw
  }
 }